<h1>
  Edit event #<%= @event.id %>
</h1>

<hr>

<form action="/update_event/<%= @event.id %>" method="post">


  <div class="form-group">
    <label for="start_time">
      Start time
    </label>

    <input type="text" id="start_time" name="start_time" class="form-control" value="<%= @event.start_time %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @event.description %>">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="message_sent">
    <input id="message_sent" class="form-check-input" name="message_sent" type="checkbox" value="1" <%= "checked" if @event.message_sent %>>
    <label for="message_sent" class="form-check-label">
      Message sent
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update event
  </button>
</form>

<hr>

<a href="/events">
  Go back
</a>
