<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All events
    </h1>

    <a href="/events/new" class="btn btn-block btn-outline-secondary">
      Add a new event
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Start time
        </th>

        <th>
          Description
        </th>

        <th>
          Message sent
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @events.each do |event| %>
      <tr>
        <!-- Display event.id start -->
        <td>
          <%= event.id %>
        </td>
        <!-- Display event.id end -->

        <!-- Display event.user_id start -->
        <td>
          <%= event.username.email %>
        </td>
        <!-- Display event.user_id end -->

        <!-- Display event.start_time start -->
        <td>
          <%= event.start_time %>
        </td>
        <!-- Display event.start_time end -->

        <!-- Display event.description start -->
        <td>
          <%= event.description %>
        </td>
        <!-- Display event.description end -->

        <!-- Display event.message_sent start -->
        <td>
          <%= event.message_sent %>
        </td>
        <!-- Display event.message_sent end -->

        <!-- Display event.created_at start -->
        <td>
          <%= time_ago_in_words(event.created_at) %> ago
        </td>
        <!-- Display event.created_at end -->

        <!-- Display event.updated_at start -->
        <td>
          <%= time_ago_in_words(event.updated_at) %> ago
        </td>
        <!-- Display event.updated_at end -->

        <td>
          <a href="/events/<%= event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @events, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
