<!-- Validation failure messages -->
<% if @event.present? %>
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new event
</h1>


<hr>

<!-- Form event start -->
<form action="/create_event" method="post">
<!-- Form event end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @event.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for start_time start -->
  <div class="form-group">
    <label for="start_time">
      Start time
    </label>

    <!-- Input for start_time start -->
    <input type="text" id="start_time" name="start_time" class="form-control" value="<%= @event.start_time %>">
    <!-- Input for start_time end -->
  </div>
  <!-- Label and input for start_time end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control" value="<%= @event.description %>">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for message_sent start -->
  <div class="form-check">
    <input type="hidden" value="0" name="message_sent">
    <!-- Input for message_sent start -->
    <input id="message_sent" class="form-check-input" name="message_sent" type="checkbox" <%= "checked" if @event.message_sent %>>
    <!-- Input for message_sent end -->
    <label for="message_sent" class="form-check-label">
      Message sent
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create event
  </button>
</form>

<hr>

<a href="/events">
  Go back
</a>
